<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamUp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupInterestActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupTestActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupExperienceActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupFinishActivity"
            android:exported="false" />
        <activity
            android:name=".applicant.ApplicantListActivity"
            android:exported="false"/>
        <activity
            android:name=".recruitment.TeamSynergyScoreActivity"
            android:exported="false"/>
        <activity
            android:name=".personality.MainPersonalityTestActivity"
            android:exported="false" />
        <activity
            android:name=".personality.PersonalityTestResultActivity"
            android:exported="false"/>
        <activity
            android:name=".personality.PersonalityTestQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".recruitment.ContestRecruitmentListActivity"
            android:exported="false" />
        <activity
            android:name=".recruitment.ContestRecruitmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".contest.ContestListActivity"
            android:exported="false" />
        <activity
            android:name=".contest.ContestInformationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".recruitment.RecruitmentPostActivity"
            android:exported="false" />
        <activity
            android:name=".MypageActivity"
            android:exported="false"/>
        <activity
            android:name=".mypage.MypageUserinfoActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageUserinfoEditActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageProfileActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageInterestActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageTestIngActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageTestResultActivity"
            android:exported="false" />
    </application>
</manifest>